.cart-item-container {
    display:flex;
  margin-left: 40px;
  max-width: 600px;
 margin: auto;
margin-bottom: 10px;
}

.cart-item-title {
    flex:3;
    text-align: left;
}

.cart-item-price {
    flex:1;
}

.cart-item-button {
    flex:1;
}