.header-container {

    background: black;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top:0px;
}

.header-title {
    color: gold;
    -webkit-text-stroke: 0.5px white;
    font-size: 2em;
    margin:5px;
    font-family: 'wizard magic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-link {
    color: white ;
    text-decoration: none;
    padding: 10px;
    font-size: 1.3em;
    font-family: 'Roboto';


}

@font-face {
    font-family: 'wizard magic';
    src: url('../fonts/WizardsMagic.ttf') format('truetype');
}
